.NavBar {
  height: 100vh;

  .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
      border-bottom: 1px solid #2e344e;

      img {
        width: 70%;
        border-radius: 100%;
        border: 6px solid #2e344e;
        margin-bottom: 1rem;
      }
    }

    .nav-items {
      width: 100%;

      .nav-item {
        list-style: none;
        text-align: center;
        margin-top: 10px;

        a {
          text-decoration: none;
          font-size: inherit;
          color: inherit;
          display: block;
          padding: .6rem 0;
          position: relative;
        }
      }
    }

    .footer {
      width: 100%;
      position: absolute;
      bottom: 0;
      border-top: 1px solid #2e344e;

      p {
        text-align: center;
        padding: 1rem 0;
        list-style: none;

        li {
          color: wheat;
          font-weight: bold;
          text-transform: uppercase;
          transition: .3s ease;
        }

        li:hover {
          color: red!important;
          transform: translateY(-3px);
          font-size: 105%;
        }

        li:focus {
          background-color: transparent !important;
        }
      }
    }
  }
}

.active {
  background-color: #037FFF;
}