.ServiceSection {
  .service {
    width: 95%;
    background-color: #191D2B;
    border-left: 1px solid #2e344e;
    border-right: 1px solid #2e344e;
    border-bottom: 1px solid #2e344e;
    border-top: 8px solid #2e344e;
    transition: all .4s ease-in-out;

    &:hover {
      border-top: 8px solid #037FFF;
    }

    @media screen and (max-width: 1400px) {
      width: 100%;
      margin-bottom: 1rem;
    }

    .service-content {
      padding: .6rem 1.4rem;
      text-align: center;

      .s-title {
        font-size: 1.5rem;
        font-weight: 800;
        position: relative;
        padding-bottom: 1rem;
        margin: 1rem 0;
      }

      .s-text {
        font-size: .9rem;
      }
    }
  }
}

.services-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  @media screen and (max-width: 1400px) {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}