.Title {
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  position: relative;
  padding-bottom: 1rem;
  letter-spacing: 3px;

  &::before {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: #0381ff38;
    width: 6rem;
    height: .4rem;
    border-radius: 50px;
  }

  &::after {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: #037FFF;
    width: 3rem;
    height: .4rem;
    border-radius: 50px;
  }

  span {
    position: absolute;
    top: 27%;
    left: 0;
    font-size: 3.6rem;
    opacity: 0.15;
  }
}