.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.hero-text {
  color: white;
  text-align: center;
  font-size: 3.6rem;

  span {
    color: #037FFF;
  }
}

.h-sub-text {
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;

  .icon-holder {
    margin-right: 1rem;
    transition: all .3s ease-in-out;
  }

  .fb:hover {
    transform: rotate(360deg);
  }

  .gitlab:hover {
    transform: rotate(360deg);
  }
  .github:hover {
    transform: rotate(-360deg);
  }

  .ins:hover {
    transform: rotate(-360deg);
  }
}